<?xml version="1.0"?>
<phpunit colors="true" syntaxCheck="false" bootstrap="tests/phpunit/bootstrap.php">
  <testsuites>
    <testsuite name="Helpers">
      <directory>./tests/phpunit/helpers</directory>
    </testsuite>
    <!-- <testsuite name="Membership Terms">
      <directory>./tests/phpunit/api</directory>
    </testsuite> -->
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./</directory>
    </whitelist>
  </filter>
  <listeners>
    <listener class="Civi\Test\CiviTestListener">
      <arguments/>
    </listener>
  </listeners>
</phpunit>
